{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Tu carrito de compras
{% endblock %}

{% block content %}
  <h1>Tu carrito de compras</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Eliminar</th>
        <th class="text-end">Precio unitario</th>
        <th class="text-end">Precio</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="img-thumbnail" style="max-width: 100px;">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <button type="submit" class="btn btn-sm btn-primary">Actualizar</button>
                {% csrf_token %}
              </form>
            </td>
            <td>
              <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                {% csrf_token %}
              </form>
            </td>
            <td class="text-end">${{ item.price }}</td>
            <td class="text-end">${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="table-info">
        <td colspan="5" class="text-end"><strong>Total</strong></td>
        <td class="text-end"><strong>${{ cart.get_total_price }}</strong></td>
      </tr>
    </tbody>
  </table>
  <p class="text-end">
    <a href="{% url 'shop:product_list' %}" class="btn btn-secondary">Seguir comprando</a>
    <a href="{% url 'orders:order_create' %}" class="btn btn-primary">Pagar</a>
  </p>
{% endblock %}
